@(appsList: List[org.cloudfoundry.client.lib.CloudApplication])

@import helper._
@import org.cloudfoundry.client.lib.CloudApplication
@import org.cloudfoundry.client.lib.CloudFoundryClient
@main("") {
 <p class="buttons" align="right">
      <a id="logout" href="@routes.Application.logout">Log Out</a>
 </p>
<center>

<h2>Welcome to cloud foundry</h2>
<br>
<br>

@if(appsList.isEmpty){
<h3>  <a href="www.cloudfoundry.com"> No Applications Deployed Yet.
Create and deploy your applications on in seconds !!</a>  
</h3>
}
<table border="1" id="tableapps">
<tr>
<th>Application Name</th>
<th>Instances</th>
<th>Running Instances</th>
<th>Memory</th>
<th>View Log</th>
</tr>
@appsList.map{app =>
<tr>
<td>@app.getName</td>
<td>@app.getInstances</td>
<td>@app.getRunningInstances</td>
<td>@app.getMemory</td>
<td><a href="@routes.Application.showLogs(app.getName)">View Log</a></td> 
</tr>
}
</table>
</center>   
 } 

    
    