@(appsList: List[org.cloudfoundry.client.lib.CloudApplication], cloudUrl:String , email:String)

@main("My Apps") {
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"> </script>

<script type="text/javascript">

$(function() {
$("#selectedAppsLogs").click(function() {
	var selected_apps = [];
	$("input:checkbox[name=multiple_apps]:checked").each(function()
			{
				selected_apps.push(this.value);	    
			});
	location.href="/multipleApps?selected_apps="+selected_apps.join(",");
	});
});

</script>

<br>
 <font color="#087cbb">
<span style="margin-left:20px;">
Welcome @email
<img align="left" src="@routes.Assets.at("images/logo_header_cloudfoundry.png")"/>
</span>
 <p class="buttons" align="right">
	
<span style="background-color:#EBEBEB">

<ul id="css3menu1" class="topmenu">
	<li class="topfirst"><a id="apps" href="@routes.Application.showApps" style="height:17px;line-height:17px;"> My Apps </a></li>
	<li class="topmenu"><a id="info" href="@routes.Application.getInfo" style="height:17px;line-height:17px;"><span> My Usage </span></a>
	<li class="toplast"><a id="logout" href="@routes.Application.logout" style="height:17px;line-height:17px;"> Logout </a></li>
</ul>
</span>     
 </p>
 <center>
<h3>My Deployed Applications</h3>
For Cloud Controller : @cloudUrl 
<br>
<ul id="css3menu1" class="topmenu">
<li class="toplast"><a id="refresh" href="@routes.Application.showApps" style="height:5px;line-height:5px;"> Refresh Apps </a></li>
</ul>
<br>
<br>
<table border="1" id="tableapps">
<tr align="right">
<th>Application Name</th>
<th>Application URL</th>
<th>Running Instances</th>
<th>Memory (MB)</th>
<th>View Log</th>
<th>Select Apps</th>
</tr>
@appsList.map{app =>
<tr align="right">
<td width="20%">@app.getName</td>
<td width="30%">
@if(app.getUris.toString.length > 2){
<a target="_blank" href="http://@app.getUris.toString.substring(1,app.getUris.toString.length()-1)">
@app.getUris.toString.substring(1,app.getUris.toString.length()-1)</a> 
}
</td>
<td width="12%">@app.getRunningInstances / @app.getInstances</td>
<td width="12%">@app.getMemory</td>
<td width="15%">
<ul id="css3menu1" class="topmenu">
<li class="toplast"><a id="log-link" href="@routes.Application.showLogs(app.getName,app.getRunningInstances)" style="height:1px;line-height:1px;"> View Log</a></li>
</ul>
</td>
@{if(app.getRunningInstances != 0)
<td width="10%"><input type="checkbox" name="multiple_apps" id="multiple_apps" value={app.getName}/> </td> 
else 
<td> </td>
}
</tr>
}
</table>
<br>
<ul id="css3menu1" class="topmenu">
<li><a id="selectedAppsLogs" style="height:4px;line-height:4px;float:right;"> View Logs of selected apps </a></li>
</ul>
</center>
<br>
</font>
}