@(infoList: org.cloudfoundry.client.lib.CloudInfo, email:String)

@import helper._
@import org.cloudfoundry.client.lib.CloudInfo

@main("My Usage") {
<br>
 <font color="#087cbb">
<span style="margin-left:20px;">
Welcome @email
<img align="left" src="@routes.Assets.at("images/logo_header_cloudfoundry.png")"/>
</span>
 <p class="buttons" align="right">
	<span style="background-color:#EBEBEB">

<ul id="css3menu1" class="topmenu">
	<li class="topfirst"><a id="apps" href="@routes.Application.showApps" style="height:17px;line-height:17px;"> My Apps </a></li>
	<li class="topmenu"><a id="info" href="@routes.Application.getInfo" style="height:17px;line-height:17px;"><span> My Usage </span></a>
	<li class="toplast"><a id="logout" href="@routes.Application.logout" style="height:17px;line-height:17px;"> Logout </a></li>
</ul>
</span>     
 </p>
<center>
<h3>My Usage</h3>
@infoList.getDescription()
<br>
<br>
<table id="tableinfo" width="500">

<tr align="center">
<td> </td>
<th> Used </th>
<th> Available </th>
</tr>

<tr align="center">
<th width="30%"> Memory </th>
<td width="30%"> @infoList.getUsage().getTotalMemory() / @infoList.getLimits().getMaxTotalMemory MB </td>
<td width="30%"> @(infoList.getLimits().getMaxTotalMemory-infoList.getUsage().getTotalMemory()) / @infoList.getLimits().getMaxTotalMemory MB </td>
</tr>

<tr align="center">
<th width="30%"> Services </th>
<td width="30%"> @infoList.getUsage().getServices() / @infoList.getLimits().getMaxServices </td>
<td width="30%"> @(infoList.getLimits().getMaxServices-infoList.getUsage().getServices()) / @infoList.getLimits().getMaxServices </td>
</tr>

<tr align="center">
<th width="30%"> Applications </th>
<td width="30%"> @infoList.getUsage().getApps() / @infoList.getLimits().getMaxApps </td>
<td width="30%"> @(infoList.getLimits().getMaxApps-infoList.getUsage().getApps()) / @infoList.getLimits().getMaxApps </td>
</tr>

</table>
</font>
</center>   
 } 

    