@(loginForm: Form[(String,String)], message:String)

@import helper._

@main("login") {	
	<img src="@routes.Assets.at("images/logo_header_cloudfoundry.png")"/>
	<center>		
    @form(action = routes.Application.checkLogin) {
		<br>
        <br>
		@message
		
        @inputText(
            field = loginForm("email"),
            args = '_label -> "Email Id *"
        )

        @inputPassword(
            field = loginForm("password"),
            args = '_label -> "Password *" 
        )

        <p class="buttons">
            <input type="submit" id="submit">
        </p>
        
       
        <p>
        <a href="http://my.cloudfoundry.com/signup">New Users Sign Up to Cloud Foundry Now</a>
        </p>
	</center>
    }
}