@(file1:String, file2:String, appName:String)
@main(""){
<body onload="timer()">
<br>
<div align="right"><a id="logout" href="@routes.Application.logout">Log Out</a></div>
<div align="left"> <a id="apps" href="@routes.Application.showApps">Back to Applications</a></div>
<h4 align="center"> Logs For <span id="appname">@appName</span>: </h4>

<div style="width:100%; height:100%;">

<div style="width:100%; height:50%;">
<span id="stderr">Standard Error Logs</span>
<input type="checkbox" name="scrollLog1" value="scrollLog1" onclick="if(this.checked){end1()}">Go to the end of log</br>
<br>
<pre>
<textarea readonly="readonly" rows="20" cols="200" id="log1" name="log1">
@file1
</textarea>
</pre>
</div>

<div style="width:100%; height:50%;">
<span id="stdout">Standard Output Logs</span>
<input type="checkbox" name="scrollLog2" value="scrollLog2" onclick="if(this.checked){end2()}">Go to the end of log</br>
<br>
<pre>
<textarea readonly="readonly" rows="20" cols="200" id="log2" name="log2">
@file2
</textarea>
</pre>
</div>

</div>

<script type="text/javascript">
function timer()
{
setInterval(function(){updateLogs()},10000);
}

function updateLogs()
{
	window.location = "@routes.Application.showLogs(appName)" 
}

function end2()
{
	var log = document.getElementById("log2");
	log.scrollTop = log.scrollHeight;
}
function end1()
{
	var log = document.getElementById("log1");
	log.scrollTop = log.scrollHeight;
}
</script>
</body>
 }  