@(appName:String, email:String)

<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"> </script>

<script type="text/javascript">
$(document).ready(callLogs());

function callLogs(){
	getLogs();
	updateLogs();
}

function getLogs(){	
getLog('stderr');
getLog('stdout');
}

function getLog(logType)
{
	$.get("/getLog?appName=@appName&logType="+logType,
		function(fetchLog){
			$("#log-"+logType).html(fetchLog);
			$("#flash-"+logType).fadeOut(100).fadeIn(100);
			end(logType);
			
	},
		"html"
		);	

}

function updateLogs() {

	setInterval(function(){getLogs()},10000);	
}

function end(id)
{
	if($("#scroll-"+id).is(':checked'))
	{		   
		    
	}
	else
	{
		  var log = document.getElementById("log-"+id);
		  log.scrollTop = log.scrollHeight ;
	}
}
</script>

@main("My Logs"){
<br>
 <font color="#087cbb">
<span style="margin-left:20px;">
Welcome @email
<img align="left" src="@routes.Assets.at("images/logo_header_cloudfoundry.png")"/>
</span>
 <p class="buttons" align="right">

<span style="background-color:#EBEBEB">

<ul id="css3menu1" class="topmenu">
	<li class="topfirst"><a id="apps" href="@routes.Application.showApps" style="height:17px;line-height:17px;"> My Apps </a></li>
	<li class="topmenu"><a id="info" href="@routes.Application.getInfo" style="height:17px;line-height:17px;"><span> My Usage </span></a>
	<li class="toplast"><a id="logout" href="@routes.Application.logout" style="height:17px;line-height:17px;"> Logout </a></li>
</ul>
</span>     
 </p>
 <center>

<h3 align="center"> Logs For <span id="appname">@appName</span>: </h3> 
<div style="width:100%; height:80%;">
<div id="flash-stderr" style="width:100%; height:40%;">
<span id="stderr">Standard Error Log</span> &nbsp; &nbsp; 
<input type="checkbox" name="scrollLog1" id="scroll-stderr" value="scrollLog1">Scroll Lock
</br>
<pre>
<textarea readonly="readonly" id="log-stderr" name="log-stderr" rows="15" style="width:90%; height:90%; resize:none; 
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">

</textarea>
</pre>
</div>

<div id="flash-stdout" style="width:100%; height:40%;"> <br><br>
<span id="stdout">Standard Output Log</span> &nbsp; &nbsp; 
<input type="checkbox" name="scrollLog2" id="scroll-stdout" value="scrollLog2">Scroll Lock
</br>
<pre>
<textarea readonly="readonly" id="log-stdout" name="log-stdout" rows="15" style="width:90%; height:90%; resize:none;
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">

</textarea>
</pre>
</div>
</div>
</font>

 }  