@(appName:String)

@main(""){
<center>
 <p class="buttons" align="center">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/menu.css")" type="text/css" /><style>._css3m{display:none}</style>
<body style="background-color:#EBEBEB">

<ul id="css3menu1" class="topmenu">
	<li class="topfirst"><a id="apps" href="@routes.Application.showApps" style="height:17px;line-height:17px;"> My Apps </a></li>
	<li class="topmenu"><a id="info" href="@routes.Application.getInfo" style="height:17px;line-height:17px;"><span> My Usage </span></a>
	<li class="toplast"><a id="logout" href="@routes.Application.logout" style="height:17px;line-height:17px;"> Logout </a></li>
</ul>
</body>     
 </p>
</center>

<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"> </script>

<script type="text/javascript">
$(document).ready(callLogs());

function callLogs(){
	getLogs();
	updateLogs();
}

function getLogs(){	
getLog('stderr');
getLog('stdout');
}

function getLog(logType)
{
	$.get("/getLog?appName=@appName&logType="+logType,
		function(fetchLog){
			$("#log-"+logType).html(fetchLog);
			},
		"html"
		);
}
	
function updateLogs() {
	$("#log-stderr").fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100);
	setInterval(function(){getLogs()},10000);	
	
}

function end(id)
{
	var log = document.getElementById("log-"+id);
	log.scrollTop = log.scrollHeight;
}

$.fn.animateHighlight = function(highlightColor, duration) {
    var highlightBg = highlightColor || "#FFFF9C";
    var animateMs = duration || 1500;
    var originalBg = "#FFFFFF";
    this.stop().css(originalBg, highlightBg).animate({backgroundColor: originalBg}, animateMs);
};

</script>

<body>
<font color="#087cbb"> <h3 align="center"> Logs For <span id="appname">@appName</span>: </h3> </font>


<div style="width:100%; height:100%;">

<div style="width:100%; height:40%;">
<span id="stderr" style="height: 50%; width: 95%;">Standard Error Logs</span> <br>
<input type="checkbox" name="scrollLog1" value="scrollLog1" onclick="if(this.checked){end('stderr')}">Go to the end of log
</br>
<pre>
<textarea readonly="readonly" rows="15" cols="200" id="log-stderr" name="log-stderr" style="height: 50%; width: 95%;">

</textarea>
</pre>
</div>
<br>
<div style="width:100%; height:50%;">
<span id="stdout" style="height: 50%; width: 95%;">Standard Output Logs</span> <br>
<input type="checkbox" name="scrollLog2" value="scrollLog2" onclick="if(this.checked){end('stdout')}">Go to the end of log
</br>
<pre>
<textarea readonly="readonly" rows="15" cols="200" id="log-stdout" name="log-stdout" style="height: 50%; width: 95%;">

</textarea>
</pre>
</div>

</div>

</body>
 }  